<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="favicon" href="/static/img/favicon.ico" />
    <link rel="stylesheet" href="/static/css/index.css" />
        <title>Mana Games</title>
    </head>
<body>
<div id="main">
    <div id="logo"></div>
    <div id="titleText">Welcome to the future of math learning.</div>
    <div id="waitlist"> <a href="/waitlist">Join the waitlist</a></div>
    <div id="inquireWithin">
        <div class='btn'><a target="_blank" href="mailto:charlie@mana.red">Contact</a></div>
        <div class='btn'><a href="/internship">Internship</a></div>
    </div>
</div>

<!-- 
<div id="container" style="margin:0 auto; text-align:center;font-size:40px;padding-top:100px;">🚧 Under Construction 🚧</div>
-->
