<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apply Now</title>
    <link rel="stylesheet" href="/static/css/form.css">
    <script> const csrf = "{{ csrf }}" </script>
    <script src="/static/js/jquery-min.js"></script>
    <script src="/static/js/form.js"></script>
</head>
<body>
    <div class="container">
        <form class="centered-form" >
            <h1>Mana Games Internship Application</h1>
            <input type="text" placeholder="Name" id="name" name="field1" required>
            <input type="text" placeholder="Email" id="email" name="field2" >
            <input type="text" placeholder="Link to portfolio" id="link1" name="field2" >
            <input type="text" placeholder="Additional links" id="link2" name="field2" >
            <input type="text" placeholder="Message" id="message" name="field2" >
            <button id="submit">Submit</button>
        </form>
    </div>
</body>
</html>

