<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apply Now</title>
    <link rel="icon" href="/static/img/mana_games_logo.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/form2.css" />
    <link rel="stylesheet" href="/static/css/waitlist.css" />
    <script> const csrf = "{{ csrf }}" </script>
    <script src="/static/js/jquery-min.js"></script>
    <script src="/static/js/form2.js"></script>
</head>
<body>
    <div class="container">
        <div id="main">
            <div id="logo"></div>
<div id="title">🚀 Join the waitlist🚀</div>
<p>We will be going live and extending beta invites as early as Spring 2024! Join us and be a part of the revolution </p>

        </div>
        <form class="centered-form" >
            <h1>Mana Games Waitlist</h1>
            <br/> We will never spam you; email used only for our game; never resold</br>
            <input type="text" placeholder="Email" id="email" name="field2" onclick="this.select();">
            <input list="howhear2" name="howhear" placeholder="How did you hear about us?" id="howhear">
              <datalist id="howhear2">
                <option value="No idea">
                <option value="Searched">
                <option value="Someone told me">
                <option value="Mathbreakers">
                <option value="Super Math World">
              </datalist>
            <button id="submit">Submit</button>
        </form>
    </div>
</body>
</html>


