html {
    margin:0;
    padding:0;
    overflow-x:hidden;
    width:100%;
    max-width:100%;
    top:0;left:0;
    transition: all 0.2s;
}

body {
    position:relative;
    font-family:Nunito;
    margin:0;padding:0;
    overflow-x:hidden;
}

#logo {
    background-image:url('/static/img/mana-games-logo.png');
    width:357px;
    height:48px;
    position:relative;
    margin:0 auto;
    top:5%;
}

#titleText {
    margin:0 auto;
    text-align:center;
    position:relative;
    top:6.5%;
    font-size:1.8em;
    color:black;
    font-family:Nunito;
}

#main {
    width:100%;
    position:fixed;
    height:100%;
    background-image:url('/static/img/splash.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}

a, a:visited, a:link, a:hover, a:active {
    color:#111;
}

#inquireWithin {
    position:fixed;
    top:90%;
    margin:0 auto;
    text-align:Center;
    background:#fff6;
    width:100%;
    height:60px;
    color:black;
    font-size:1.3em;

}
